body{
	font: 16px Arial, Helvetica, sans-serif;
    margin: 0 auto;
    background: #e8e8d9;
}

header {
    position: fixed;
    z-index: 99999999;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
	background: #000;
	padding: 20px 0;
    text-align: center;
}

header ul {
    margin: 0;
    padding: 0;
    display: inline-flex;
}

header ul li {
    margin: 0 10px;
    list-style: none;
}

header ul li a {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
    padding: 0;
}

header, a:hover {
    transition: all;
    opacity: 0.7;
}

footer {
    color: #fff;
    margin: 0 !important;
	background: #000;
	padding: 20px 0;
    display: block;
    justify-content: center;
}

footer p {
    color: #fff;
    text-align: center;
}

div.banner img {
    width: 100%;
}

.contents {
	padding: 0 20px;
    margin: 40px 0;
}

.img-campanha {
    width: 100%;
    height: auto;
    margin: 20px 0 !important;
}

.contato, a {
    text-decoration: none;
    color: blue;
    font-weight: 400;
}

h1 {
    color: black;
	font-size: 32px;
    font-weight: 700;
    margin-top: 0;
}

p {
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 10px;
    text-align: justify;
}
